<!DOCTYPE html>
<html>
<head>
	<title>Add a user</title>
</head>
<body>
	<form method='post' action='/users'>
		<label>
			Name <input name='name' type="text">
		</label>
		<button>Add User</button>
	</form>
</body>
</html>